# --- Ingestão (Bronze) ---
requests==2.32.3
urllib3==2.2.3

# --- Processamento e Transformação (Silver/Gold) ---
pyspark==3.5.2
pandas==2.1.4
pyarrow

# --- Carga e Banco de Dados (Consumo) ---
SQLAlchemy<2.0.0
psycopg2-binary

# --- Utilitários (Boas Práticas) ---
python-dotenv

